.card {
  width: 130px;
  height: 200px;
  transition: box-shadow 250ms ease, transform 100ms ease, border 250ms ease;
  user-select: none;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.card img {
  pointer-events: none;
  width: 100%;
  height: 100%;
}
